.addOfficer-container {
  position: relative;
}

.banner,
.overview-section,
.features,
.guide-section {
  min-height: 100vh;
  top: 50%;
  margin-bottom: 50px; /* Add margin to help with intersection detection */
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;
}
.overview-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;
}
h1 {
  font-size: 100px; 
}

.overview-title {
  font-size: 80px;
}

.overview-text {
  font-style: italic;
  font-size: large;
}
.description {
  font-style: italic;
}

.button-group{
  display: flex;
  gap:100px;
}
.guide-title {
  font-size: 80px;
}

.guide-section {
  padding: 20px;
  transition: all 0.5s ease-in-out;
  padding-left: 10%;
}

.guide-step {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.guide-list li {
  font-size: 20px; /* Increase this value as needed */
  margin-bottom: 10px; /* Optional: Adds spacing between the steps */
}

.guide-step.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

.feature-card {
  height: 250px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
  transition: all 0.5s ease-in-out;
}

.feature-card:hover {
  transform: scale(1.1);
}
.fade-in-section {
  opacity: 0;
  transform: translateY(30px);
  visibility: hidden;
  transition: opacity 1.2s ease-out, transform 0.6s ease-out,
    visibility 1.2s ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}


/* Add this to your home.component.css or a separate CSS file */
@keyframes slideDown {
  0% { transform: translateY(-100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}