body {
    background: #ededed;
}

h1 {
    font-size: 70px;
    margin: 0;
  }
  
.table_outer {
    padding: 20px 0;
}

table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card {
    border-radius: .5rem;
}