<div class="home-container" @fadeInOut>
    <div class="banner fade-in-section" #fadeInElement>
      <h1 class="title">CityCare</h1>
      <h2 class="motto">Amplify Your Voice, Shape Your City</h2>
      <app-button buttonText="Get Started" routerLink="/signup"></app-button>
    </div>
  
    <div class="about-section fade-in-section" #fadeInElement>
      <h2 class="about-title">About</h2>
      <p class="about-text">
        CityCare is a platform dedicated to empowering citizens to share their concerns,
        suggestions, and feedback to shape the future of their cities. Join us in making a difference!
      </p>
    </div>

    <div class="features fade-in-section" #fadeInElement>
      <div class="feature-card">
        <h3>Report Issues</h3>
        <p>Submit concerns directly to city officials.</p>
      </div>
      <div class="feature-card fade-in-scroll">
        <h3>Community Discussions</h3>
        <p>Engage in discussions with other citizens.</p>
      </div>
      <div class="feature-card fade-in-scroll">
        <h3>City Updates</h3>
        <p>Stay informed about city improvements and policies.</p>
      </div>
    </div>
  </div>